<%- include("partials/header"); -%>
    <h1>Contact &#128071</h1>
    <p> <%= contactContent %> </p>

    <div class="row cont">
      <div class="col-lg-6 insta">

        <h2 style="bolder">Instagram</h2>

        <div class="ing">
          <!-- <button type="button" class="btn btn-dark btn-lg download-button"> -->
            <a class="" href="https://www.instagram.com/aka_ashubhardwaj/"><i class="fab fa-instagram fa-7x"></i></a>
          <!-- </button> -->
        </div>



      </div>


      <div class="col-lg-6 facebook"  ho>
       <h2 style="boler">Facebook</h2>
       <div class="fb">
         <!-- <button type="button" class="btn btn-outline-light btn-lg download-button"> -->
           <a  href="https://www.facebook.com/akshit.bhardwaj.180"><i class="fab fa-facebook fa-7x "></i></a>
       </div>

      </div>

      <div class="col-lg-6 mail" >
        <h2 style="bolder">Gmail</h2>
        <div class="email">
          <!-- <button type="button" class="btn btn-outline-light btn-lg download-button"> -->
              <a  href="mailto:akshitbhardwaj36@email.com"><i class="fas fa-envelope-open-text  fa-7x"></i></a>
            <!-- Mail me</button> -->
        </div>


      </div>

      <div class="col-lg-6 LinkedIn" >
        <h2 style="bolder">LinkedIn</h2>
        <div class="linke">
          <!-- <button type="button" class="btn btn-outline-light btn-lg download-button"> -->
              <a  href="https://www.linkedin.com/in/akshit-bhardwaj-519221171/"><i class="fab fa-linkedin fa-7x"></i></a>
            <!-- Mail me</button> -->
        </div>


      </div>

    </div>

  </div>

<%- include("partials/footer"); -%>
